html, body {
  /* height: 100vh;
  width: 100%; */
  margin: 0;
  overflow:scroll;
}
.App {
  text-align: center;
}

/* .App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
} */

.home, .dashboard, .chart, .schedule, .profile, .newPatientForm {
  height: 100vh;
  width: 100vw;
  overflow: scroll;
}

.signin {
  background-image: url('assets/bg3.1.4.jpg');
  background-size: cover;
  height: 100vh;
  background-repeat: no-repeat;
  overflow: hidden;
  text-align: center;
}

#signinForm {
  background:black;
}

#signinFirstField {
margin-top: 45vh !important;
margin-left: 24vw;
}

.signin label {
  color:white !important;
}

.signinUsername {
  min-width: 35%;
}

.ui.input.signinUsername input {
  background: #ffffff00;
  /* height: 25vh; */
  width: 50vw !important;
  border: none;
  font-size: 50px !important; 
  color: rgba(255, 255, 255, 0.808);
  text-align: left;
  /* padding: 0 0; */
}

.ui.input.signinUsername input::placeholder,
.ui.input.signinUsername input:focus::placeholder{
  text-align: left;
  color:rgba(255, 255, 255, 0.733);
}

.ui.input.signinUsername input:focus {
  background: #ffffff00;
  font-size: 50px !important; 
  color: white;
  text-align: left;
}

.ui.label.signinDr {
  font-size: 60px !important; 
  position: relative;
  /* padding-bottom: 5px;
  padding-right: 5px;
  padding-left: 5px; */
  margin-top:8vh !important;
  padding: 5px 5px;
  top: 20px;
  margin-right: 10px !important;
  background: transparent;
  color:white;
  font-weight: 400;
}

.signinPassword input {
  background: #ffffff00 !important;
  min-width: 150px !important;
  text-align: center !important;
  border-bottom-color: rgba(0, 0, 0, 0.363) !important;
  border-top-color: rgba(255, 255, 255, 0) !important;
  border-left-color: rgba(255, 255, 255, 0) !important;
  border-right-color: rgba(255, 255, 255, 0) !important;
}

.ui.input.signinPassword input::placeholder,
.ui.input.signinPassword input:focus::placeholder{
  color:rgba(255, 255, 255, 0.952);
}

.ui.input.signinPassword input:focus {
  background: #ffffff00;
  color: white;
  text-align: center;
  border-bottom-color: rgba(0, 0, 0, 0.363);
  border-top-color: rgba(255, 255, 255, 0);
  border-left-color: rgba(255, 255, 255, 0);
  border-right-color: rgba(255, 255, 255, 0);
}

.signinPW {
  /* font-size: 30px !important;  */
  top: 10%; 
  display: inline;
  position: sticky;
  margin-right: 10px !important;
}

#signinBtn.ui.inverted.blue.basic.button {
  margin-bottom: 2vh;
  z-index: 0;
  border: none !important;
}

#signupBtn {

  margin-top: 2vh;
}

.ui.dimmer {
 background-color: rgba(0, 0, 0, 0.623);
}

/* #navBarOpener {
  position: fixed;
  bottom: 5vh;
  left: 5vh;
} */

.barGrid {
  display:grid;
  grid-template-areas: 
  'a'
  'b'
  'c'
  'd'
  'e'
  'f'
  'g';
  gap: 1vw;
  max-height: 42vw;
  max-width: 5vw;
  /* min-height: 42vw;
  min-width: 5vw; */
  position: fixed;
  bottom: 5vh;
  left: 5vh;
  text-align: center;
}


#navBarOpener {
  grid-area: g;
  max-height: 5vw;
  max-width: 5vw;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  margin-top: auto;
  position: relative;
}



.dashboard {
  background-image: url('./assets/pill1.02.jpg');
  background-size: cover;
  transition: 1s;
}

#patientList {
  height: 30vh;
  width: 15vw;
  position: fixed;
  top: 8vh;
  right: 5vw;
  border-radius: 50%;
  background-color: transparent;
  border-color: transparent;
}

#examRoom {
  width: 32vh;
  height: 18vh;
  position: fixed;
  top: 40vh;
  left:18vw;
  border-radius: 50%;
  background-color: transparent;
  border-color: transparent;
}

#board {
  width: 40vh;
  height: 20vh;
  position: fixed;
  right: 5vw;
  bottom: 5vh;
  border-radius: 50%;
  background-color: transparent;
  border-color: transparent;
}

#examRoom:focus, #board:focus, #patientList:focus{
  outline: transparent;
}
/* 
.ui.inverted.blue.button.stethoscope {
  position: fixed !important;
  top: 40vh !important;
  left: 35vw !important;
}

.ui.inverted.teal.basic.button.stethoscope:hover {
  background-image: url(./assets/db1.1.12.jpg);
} */

.homePG {
  background-image: url('assets/w.jpg');
  background-size: cover;
  height: 100vh;
  background-repeat: no-repeat;
  overflow: hidden;
  text-align: center;
}

.profile {
  background-image: url('assets/w.jpg');
  background-size: cover;
  height: 100vh;
  background-repeat: no-repeat;
  overflow: hidden;
  text-align: center;
}

.schedule {
  background-image: url('assets/w.jpg');
  background-size: cover;
  height: 100vh;
  background-repeat: no-repeat;
  overflow: hidden;
  text-align: center;
}

.chart {
  background-image: url('assets/w.jpg');
  background-size: cover;
  height: 100vh;
  background-repeat: no-repeat;
  overflow: hidden;
  text-align: center;
}

.newPatientForm {
  background-image: url('assets/w.jpg');
  background-size: cover;
  height: 100vh;
  background-repeat: no-repeat;
  overflow: hidden;
  text-align: center;
}

.chart .ui.form textarea{
  min-width: 36vw;
  min-height: 34vh;
}

.chartgrid {
  display: grid;
  grid-template-areas: 
  "a b"
  "c d";
  height: 80vh;
  width: 78vw;
  margin-left:auto;
  margin-right:auto;
  margin-top:5vh;
  margin-bottom:auto;
  padding: 5px 5px;
  background: rgba(255, 255, 255, 0.459);
}

.chart .ui.fluid.dropdown {
  width: 36vw;
}

.signoff {
  width: 100px;
  height:40px;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto !important;
  margin-right: auto !important;
  bottom: -10vh;
}

.homePG {
  color: white;
}

.homeCharts {
  margin-left:auto;
  margin-right:auto;
  margin-top: 10vh;
  width: 80vw;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-areas: 
  "a b";
}

.homeCharts .-btn {
  color:white !important;
  font-size: 12px;
}

.homeCharts .-pageJump input {
  width: 40px !important;
  background: rgba(255, 255, 255, 0.493);
  font-size: 12px;
}

.homeCharts .-pagination select {
  color:white;
  background: rgba(255, 255, 255, 0);
  height: 30px;
  font-size: 12px;
}

.homeCharts .-center {
  min-width: 60%;
}

.homePatientList {
  grid-area: a;
  min-width: 35vw;
  height:70vh;
}

.homeChartList {
  grid-area: b;
  min-width: 50vw;
  height: 70vh;
}