
.homePG {
  color: white;
  overflow:scroll;
}

.homeCharts {
  margin-left:auto;
  margin-right:auto;
  margin-top: 10vh;
  width: 80vw;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr ;
  grid-template-areas: 
  "a b c";
}

.homeCharts .rt-resizable-header-content {
  font-size: 15px;
  font-weight: bold;
  color: rgb(255, 233, 213);
}

.homeCharts .-btn {
  color:white !important;
  font-size: 12px;
}

.homeCharts .-pageJump input {
  width: 40px !important;
  background: rgba(255, 255, 255, 0.493);
  font-size: 12px;
}

.homeCharts .-pagination select {
  color:white;
  background: rgba(255, 255, 255, 0);
  height: 30px;
  font-size: 12px;
}

.homeCharts .-center {
  min-width: 60%;
}

.homePatientList {
  grid-area: a;
  min-width: 30%;
  height:70vh;
}

.homePatientList h3 {
  color: rgba(255, 255, 255, 0.815);
}

.homeProblemList {
  grid-area: b;
  min-width: 70%;
  height: 70vh;
}

.homeChartList {
  width: 100%;
}


.hoverColor {
  display: flex;
  text-align: center;
  margin: auto;
  color: rgba(255, 255, 255, 0.815);
}

.hoverColor:hover {
  color: rgb(254, 255, 188); 

}

.ReactTable {
  height: 80vh;
  vertical-align: middle !important;
}

.i.large.icon {
  padding: 0 0 !important;
}

#cc .ui.form .field .ui.input input{
  width: 80% !important;
}

#cc .ui.input input {
  background: grey;
}