.scheduledPatients .ui.fluid.dropdown{
  background: rgba(0, 0, 0, 0.493) !important; 
  width: 14vw !important;
  margin-left: 3vw;
  margin-top: 2px;
}

.chart .ui.teal.card {
  margin-top: 1vh;
  margin-left: 3vw;
  position: fixed;
  max-width: 14vw;
  background: rgba(0, 0, 0, 0.39);
  color: white;
  border: none !important;
}
  
.chart .ui.card>.content>.header {
  color: white !important;
}

.chart .ui.card .meta {
  color: rgba(255, 255, 255, 0.466);
}

.chart .field>label {
  color: rgba(255, 255, 255, 0.644) !important;
}

.chart .ui.form textarea{
  min-width: 36vw;
  min-height: 34vh;
  background: rgba(0, 0, 0, 0.39);
  color: blanchedalmond;
}

.chartgrid {
  display: grid;
  grid-template-areas: 
  "a b"
  "c d";
  height: 76vh;
  width: 78vw;
  margin-left:auto;
  margin-right:2vw;
  margin-top:5vh;
  margin-bottom:auto;
  padding: 5px 5px;
  /* background: rgba(0, 0, 0, 0.452) ; */
}


.diagnosis {
  width: 36vw !important;
  border-radius: none !important;
  background: rgba(0, 0, 0, 0.39) !important;
}

.rx {
  width: 36vw !important;
  background: rgba(0, 0, 0, 0.562) !important; 
}

.ui.search.dropdown>input.search {
  color:white;
}
.ui.search.dropdown>input {
  color:white;
}
.ui.search.dropdown>input.focus {
  color:white;
}


.chart .menu {
  background: rgba(0, 0, 0, 0.877) !important;
  color: white !important; 
}

.chart .ui.dropdown .menu .selected.item {
  color: white !important;
}

.chart .ui.dropdown .menu>.item {
  color: white;
}

.chart .ui.dropdown .menu>.message {
  color: rgba(0, 0, 0, 0.555);
}


.signoff.ui.button {
  width: 100px;
  height:40px;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto !important;
  margin-right: auto !important;
  bottom: 5vh;
  background: none;
  color:white;
}

.signoff.ui.button:hover {
  background: rgba(77, 255, 130, 0.521) !important;
  /* padding: 9.5px 14px; */
}

.checkoutBtn.ui.small.button {
  height: 22px;
  padding: 5px 5px;
  margin-top: 5px;
  background: rgba(0, 0, 0, 0);
  color: white;
}

.checkoutBtn.ui.small.button:hover {
  color: rgb(255, 255, 145);
}

.ui.card>.content>.description {
  color: white;
}

.search {
  text-align: left;
}

.chartgrid .ui.form input[type=text] {
  left: 0;
  background: rgba(0, 0, 0, 0.39) !important;
  width: 32vw !important;
  color: white !important; 
  margin-top: 1vh;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}



.search .ui.input {
  left: 0;
  background: rgba(0, 0, 0, 0.39) !important;
  width: 32vw !important;
  color: white !important; 
  margin-top: 1vh;
  margin-top: 1vh;
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.search .ui.form input[type=text] {
  left: 0;
  background: rgba(0, 0, 0, 0.39) !important;
  width: 32vw !important;
  color: white !important; 
  margin-top: 1vh;
  margin-top: 1vh;
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.diagnosisSearch i.icon {
  width: 4vw !important;
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  margin: 0 0 !important;
  height: 100%;
  background: rgba(0, 0, 0, 0.39) !important;
  background: rgba(0, 0, 0, 0.39) !important;
}

.assessmentList {
  overflow: scroll;
  width: 36vw;
  background: none !important;
  height: 16vh;
  color: white;
  text-align: left;
}

.assessmentList .ui.horizontal.celled.list>.item {
  display: grid;
  grid-template-columns: 10% 90%;
  width: 30vw !important;
}

.assessmentList  .content {
  height: 3vh;
}

.chartDate {
  position: fixed !important;
  top: 2vh; 
  background: rgba(0, 0, 0, 0.562);
  color: white;
}
.chartDate.ui.input input{
  background: rgba(0, 0, 0, 0.178);
  color: white;
}

.ap .ui.form.grouped.fields>label {
  color:rgba(255, 255, 255, 0.644);
}